function ComputerShoot.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 5
pop this 1
push constant 5
pop this 2
push constant 0
pop this 5
push constant 0
not
pop this 6
push constant 0
pop this 7
push pointer 0
return
function ComputerShoot.shootAt 1
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call Board.shootAt 3
pop local 0
push local 0
return
function ComputerShoot.shoot 1
push argument 0
pop pointer 0
push this 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call ComputerShoot.nextPos 1
pop temp 0
push pointer 0
push this 1
push this 2
call ComputerShoot.shootAt 3
pop local 0
push local 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 5
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push this 6
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 7
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 9
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 6
push pointer 0
call ComputerShoot.shoot 1
return
goto IF_END4
label IF_FALSE4
push this 2
push constant 1
add
pop this 2
push pointer 0
push this 1
push this 2
call ComputerShoot.shootAt 3
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop this 6
push constant 0
pop this 7
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE5
push local 0
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop this 7
push constant 0
pop this 5
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE6
label IF_END4
goto IF_END3
label IF_FALSE3
push this 2
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop this 7
push pointer 0
call ComputerShoot.shoot 1
return
goto IF_END7
label IF_FALSE7
push this 2
push constant 1
sub
pop this 2
push pointer 0
push this 1
push this 2
call ComputerShoot.shootAt 3
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
pop this 7
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE8
push local 0
push constant 2
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
pop this 5
push constant 0
pop this 7
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE9
label IF_END7
label IF_END3
goto IF_END2
label IF_FALSE2
push this 7
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 1
push constant 9
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
goto IF_END11
label IF_FALSE11
push this 1
push constant 1
add
pop this 1
push pointer 0
push this 1
push this 2
call ComputerShoot.shootAt 3
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
label IF_FALSE12
push local 0
push constant 2
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
pop this 5
push constant 0
pop this 7
push constant 0
not
pop this 6
label IF_FALSE13
label IF_END11
goto IF_END10
label IF_FALSE10
push this 1
push constant 0
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 0
not
pop this 7
push pointer 0
call ComputerShoot.shoot 1
return
goto IF_END14
label IF_FALSE14
push this 1
push constant 1
sub
pop this 1
push pointer 0
push this 1
push this 2
call ComputerShoot.shootAt 3
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 0
not
pop this 7
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE15
push local 0
push constant 2
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 0
pop this 5
push constant 0
pop this 7
push constant 0
not
pop this 6
push this 3
pop this 1
push this 4
pop this 2
label IF_FALSE16
label IF_END14
label IF_END10
label IF_END2
label IF_END0
push local 0
return
function ComputerShoot.nextPos 0
push argument 0
pop pointer 0
push this 1
push constant 1
add
pop this 1
push this 1
push constant 10
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
push this 2
push constant 1
add
pop this 2
push this 2
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
label IF_FALSE1
label IF_FALSE0
push this 1
pop this 3
push this 2
pop this 4
push constant 0
return
function ComputerShoot.noMoreShips 0
push argument 0
pop pointer 0
push this 0
call Board.noMoreShips 1
return
